force-app/main/default/flows/Crea_proceso_de_aprobacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>la_oportunidad_esta_cerrada</name>
        <label>la oportunidad esta cerrada</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Notificacion_No_genera_proceso_aprobacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>La_oportunidad_si_esta_cerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cierre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_registro_proceso_aprobacion_0</targetReference>
            </connector>
            <label>La oportunidad si esta cerrada</label>
        </rules>
    </decisions>
    <description>Pantalla para crear proceso de aprobación</description>
    <dynamicChoiceSets>
        <name>Accion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Action__c</picklistField>
        <picklistObject>ApprovalProcess__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Crea proceso de aprobacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea proceso de aprobacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_registro_proceso_aprobacion_0</name>
        <label>Crear registro proceso aprobacion</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Acci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>Detalle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre__c</field>
            <value>
                <elementReference>Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Iniciado</stringValue>
            </value>
        </inputAssignments>
        <object>ApprovalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Crea el proceso de aprobación con los campos mínimos necesarios</description>
        <name>Crear_proceso_de_aprobacion</name>
        <label>Crear proceso de aprobación</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>la_oportunidad_esta_cerrada</targetReference>
        </connector>
        <fields>
            <name>Nombre</name>
            <dataType>String</dataType>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Indicar un nombre para éste proceso de aprobación&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detalle</name>
            <dataType>String</dataType>
            <fieldText>Detalle</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Indique alguna descripción del proceso de aprobación&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Acci_n</name>
            <choiceReferences>Accion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Acción</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notificacion_No_genera_proceso_aprobacion</name>
        <label>Notificacion No genera proceso aprobacion</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;No se puede puede generar el proceso de aprobación porque el Expediente de proyecto &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(253, 0, 0);&quot;&gt;{!recordId.Name}&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; aún no está cerrado&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_proceso_de_aprobacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
